In [4]:
!pip install seaborn

Collecting seaborn
  Downloading https://files.pythonhosted.org/packages/10/5b/0479d7d845b5ba410ca702ffcd7f2cd95a14a4dfff1fde2637802b258b9b/seaborn-0.11.2-py3-none-any.whl (292kB)
     |████████████████████████████████| 296kB 8.1MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.1.4)
Requirement already satisfied: matplotlib>=2.2 in /opt/conda/lib/python3.7/site-packages (from seaborn) (3.1.1)
Requirement already satisfied: scipy>=1.0 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.7.3)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.7/site-packages (from seaborn) (1.21.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2
WARNING: You are using pip version 19.3.1; however, version 21.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [7]:
import warnings
warnings.filterwarnings('ignore')

In [8]:
#import all libraries and dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [9]:
#load data 
world_cup = pd.read_csv('World Cup 2019 Dataset.csv')
results = pd.read_csv('results.csv')

In [13]:
print (world_cup.shape)
print (results.shape)

(10, 7)
(996, 6)

In [11]:
world_cup.head()

,Team,Group,Previous \nappearances,Previous \r\ntitles,Previous\r\n finals,Previous\nsemifinals,Current \r rank
0,England,A,11,0,3,5,1
1,South Africa,A,6,0,0,4,3
2,West Indies,A,11,2,3,4,8
3,Pakistan,A,11,1,2,6,6
4,New Zealand,A,11,0,1,7,4

In [12]:
results.head()

        date      Team_1     Team_2     Winner     Margin Ground
0   4-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  7 wickets  Dhaka
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
3   8-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  9 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka

In [15]:
df = results[(results['Team_1'] == 'India') | (results['Team_2'] == 'India')]
df.head()

        date      Team_1     Team_2     Winner     Margin Ground
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka
5  11-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
6  13-Jan-10       India  Sri Lanka  Sri Lanka  4 wickets  Dhaka

In [17]:
df.shape

(198, 6)

In [28]:
#India Win Percentage in past matches
print((len(df[df['Winner'] == 'India'])/df.shape[0]) *100.0)

61.61616161616161

In [29]:
#creating a column for matches played in 2010
year = []
for row in df['date']:
    year.append(int(row[7:]))
df['match_year']= year
df_2010 = df[df.match_year >= 10]
print((len(df_2010[df_2010['Winner'] == 'India'])/df_2010.shape[0]) *100.0)

60.9271523178808

In [30]:
df_2010.head()

,date,Team_1,Team_2,Winner,Margin,Ground,match_year
4,10-Jan-10,India,Sri Lanka,India,8 wickets,Dhaka,10
5,11-Jan-10,Bangladesh,India,India,6 wickets,Dhaka,10
6,13-Jan-10,India,Sri Lanka,Sri Lanka,4 wickets,Dhaka,10
24,21-Feb-10,India,South Africa,India,1 run,Jaipur,10
25,24-Feb-10,India,South Africa,India,153 runs,Gwalior,10

In [55]:
def get_win_percentage(list):
    for i in list:
        df = results[(results['Team_1'] == i) | (results['Team_2'] == i)]
        dict = {}
        dict[i] = round(len(df[df['Winner'] == i])/(df.shape[0])*100.0,2)
        print(i," win percentage is ",(round(len(df[df['Winner'] == i])/(df.shape[0])*100.0,2)),'%')

In [37]:
list_of_participants = ['England', 'South Africa', 'West Indies', 'Pakistan', 'New Zealand', 'Sri Lanka', 'Afghanistan', 'Australia', 'Bangladesh', 'India']

In [56]:
get_win_percentage(list_of_participants)

England  win percentage is  53.49 %
South Africa  win percentage is  61.84 %
West Indies  win percentage is  34.69 %
Pakistan  win percentage is  50.0 %
New Zealand  win percentage is  47.74 %
Sri Lanka  win percentage is  46.05 %
Afghanistan  win percentage is  50.0 %
Australia  win percentage is  59.44 %
Bangladesh  win percentage is  40.32 %
India  win percentage is  61.62 %